<body class="main-bg container">
  <div class="header-bar">
    <div class="logo">
      <%= image_tag "hand-c-icon.svg", class: "hand-logo"%>
    </div>

    <!-- <div class = "name">Cathy Chan</div> -->

    <ul class="menu">
      <li data-menuanchor="page1"><%= link_to "MAIN", root_path %></li>
      <li data-menuanchor="page2"><%= link_to "PROJECTS", projects_path %></li>
      <li data-menuanchor="page3"><%= link_to "INFO", info_path %></li>
    </ul>
  </div>

  <div class="main-text">
    <div class="sm-text">
      Hello.
    </div>

    <div class="big-text">
      <p>I am a <span class="text-typed"></span></p>
    </div>
  </div>
</body>
