// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact img{
  width: 50px;
  vertical-align: middle;
}

.coffee-icon,
.resume-icon{
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
  color: #FC5253;
  padding-left: 7px;
  display: inline-block;
  text-align: left;
}

.coffee-detail{
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  text-align: left;
  padding-left: 7px;
  color: #99A265;
}

.contact a{
  text-decoration: none;
}
