.info-title{
  margin-top: 0;
  color: white;
  margin-bottom: 0.6em;
  font-family: 'Lora', serif;
  font-size: 2.7em;
  opacity: 0.7;
  text-transform: uppercase;
}

.skill-title{
  color: white;
  margin-bottom: 15px;
  font-family: 'Lora', serif;
  font-size: 2.7em;
  opacity: 0.7;
  text-transform: uppercase;
}

.experience-box{
  color: #5f5f5f;
  font-family: 'Lora', serif;
  font-size: 2em;
}

.skill-details{
  color: white;
  opacity: 0.6;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}

.skills,
.contact{
  width: 40%;
  white-space: nowrap;
  display: inline-block;
}

.skill-icon{
  opacity: 0.8;
  height: 120px;
  margin-bottom: 25px;
  fill-opacity: 0;
  transition: fill-opacity 1s;
}

.skill-icon .finished{
  fill-opacity: 1;
}

.contact img{
  width: 50px;
  vertical-align: middle;
}

.coffee-icon,
.resume-icon{
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
  color: #FC5253;
  padding-left: 7px;
  display: inline-block;
  text-align: left;
}

.coffee-detail{
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  text-align: left;
  padding-left: 7px;
  color: #868d5e;
}
