<!DOCTYPE html>
<html>
  <head>
    <title>Cathy Chan</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:300,400|Reenie+Beanie" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.0/vivus.min.js"></script>
    <script src="https://use.fontawesome.com/301d5381d1.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
